<a href="https://colab.research.google.com/github/avadhutjagde/python/blob/main/1L_8_02_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name="amit" #string
age=23      # int
salary=34456.77 # float

print("Name is",name)
print("age is",      age) 
print("salary is",         salary)   # space is omitted.
print("salary is""   ",salary) # this way U can add space. 
print("salary is","  "+ name )   #  "concatenat" only done with "string" not with int or float so only in  string this way u can add space.  
# print("salary is","  " + salary) # gives error Bcoz  salary is int variable.

In [ ]:
name=input("Enter your Name:")
age=int(input("enter your age:"))
sal=float(input("enter your sal:"))

print("Name is",name)
print("age is",age) 
print("salary is",salary)   # space is omitted.

In [ ]:
# Arithmetic operator
a=5
b=2
print("a=",a)
print("b=",b)

c=a+b
print("a+b",c)

c=a-b
print("a-b",c)

c=a*b
print("a*b",c)

c=a/b
print("a/b",c)

c=a%b
print("a%b",c)

c=a**b
print("a**b",c)

c=a//b
print("a//b",c)

In [ ]:
math=int(input("Enter marks into math:"))
sci=int(input("Enter marks into sci:"))  # code is interpreted line by line this line error is not-catch  by the complier when compiler complie 2nd line that time he catch error. 
eng=int(input("Enter marks into math:"))
hin=int(input("Enter marks into math:"))
history=int(input("Enter marks into math:"))
marathi=int(input("Enter marks into math:"))


tot =  math+sci+eng+ hin+ history+ marathi
per=tot*100/500

print ("total marks :",tot)
print ("% is :",per)

In [ ]:
a=int(input("Enter any no. :"))
b=int(input("enter any no.:"))

a=a+b
b=a-b
a=a-b
print("a=",a)
print("b=",b)

In [ ]:
# class-work :
BS=int(input("Enter your base salary:"))
OT=int(input("Enter your over time salary:"))
HS=int(input("Enter hike in salary : " ))

Tax=int(input("enter amount for tax deduction:"))
RF=int(input("enter your retirement funds amount :" ))

Total_Salary=BS+OT+HS
Deduction_amt= Tax + RF

Inhand_salary= Total_Salary - Deduction_amt
print("your in hand salary is ",Inhand_salary)

In [ ]:
#class Work
name=input("enter your Full-Name :")
age=int(input("enter your age :"))
Add=input("enter your Current Address :")
scl_name=input("enter your scl_Name :")
clg_name=input("enter your clg_Name :")
CA_Quali=input("enter your Current Qualification :")
ssc=input("enter your SSC % :")
hsc=input("enter your HSC % :")

print("your Full-Name is :",name)
print("your age is :",age)
print("your address is :",Add)
print("your school_Name :",scl_name)
print("your college_Name is :",clg_name)
print("your current qualification is :",CA_Quali)
print("your SSC %  is  :",ssc)
print("your HSC % :",hsc)